@import "leaflet/dist/leaflet.css";

#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.restaurant-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  min-height: 150px; /* Set a minimum height to prevent jumping */
}

.restaurant-card,
.mood-card {
  border-radius: 8px;
  padding: 12px 20px;
  width: auto;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px;
  cursor: pointer;
}

.mood-card.selected {
  border: 2px solid #09f;
}

@media (prefers-color-scheme: dark) {
  .restaurant-card,
  .mood-card {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: light) {
  .restaurant-card,
  .mood-card {
    background-color: #f9f9f9;
    color: #000;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 600px) {
  .restaurant-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurant-card {
    width: calc(50% - 12px);
  }
}

@media (min-width: 900px) {
  .restaurant-card {
    width: calc(33.33% - 12px);
  }
}

.restaurant-card h3 {
  margin: 0 0 8px;
}

.restaurant-card p {
  margin: 4px 0;
}
